@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none; /* Prevent selection on mobile tap */
  touch-action: manipulation; /* Improve touch response */
}
